.main {
  display: flex;
  justify-content: center;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.text-decoration-none {
  text-decoration: none;
}

.card {
  display: flex;
  align-items: center;
  width: 160px;
  height: 70px;
  position: relative;
  background-color: #001233;
  border: 2px solid  #fb8b24;
  border-radius: 10px;
  color: whitesmoke;
  padding: 4px;
  margin-bottom: 10px;
}

.card > img {
  border-radius: 10px;
  border: 3px solid #0f4c5c;
  height: 50px;
}

.card-body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-title {
  font-size: 16px;
  margin: 0 8px;
}

.form-class {
  position: absolute;
  top: 50px;
  left: 96px;
}

#gear-skill-div-table {
  display: flex;
  align-items: center;
  justify-content: center;
}

#climb-table {
  margin: 0;
}

#title-div {
  margin: 0;
  padding: 0;
}

#delete-partner-btn {
  font-size: 10px;
}

#add-partner-btn, #delete-partner-btn {
  border-radius: 10px;
  border: 3px solid #9C3848;
  height: 30px;
}

#add-partner-btn {
  font-size: 12px;
  height: 25px;
  width: 70px;
}

#delete-climb-btn2 {
  width: 100px;
}

#delete-gearskills-btn {
  width: 180px;
  height: 40px;
}