.main {
  display: flex;
  justify-content: center;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 10px;
}

.text-decoration-none {
  text-decoration: none;
}

.card {
  display: flex;
  width: 210px;
  background-color: #001233;
  border: 2px solid  #fb8b24;
  border-radius: 10px;
  color: whitesmoke;
  padding: 5px;
}

.card > img {
  border-radius: 10px;
  border: 3px solid #0f4c5c;
  height: 90px;
}

.card-body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-title {
  font-size: 24px;
  margin: 0 10px;
}

#add-partner-btn {
  border-radius: 10px;
  border: 3px solid #9C3848;
  height: 30px;
  transform: translateX(-115px) translateY(40px);
}