<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/climbs/index.css" />
<%- include('../partials/nav') %>

<main>
  <h1> Add a Climb </h1>
  <div id="add-mtn">
    <br>
    <select>
    <% climbs.forEach(climb => { %>
      <option> <%= climb.name %> </option>
    <% }) %>
    </select>
    <div id="add-climb">
      <h1>Not seeing your climb in the drop-down? Add it to the list here!</h1>
    </div>
    <form id="add-climb-to-dropdown-form" action="/climbs" method="POST">
      <label for="climb-name">Name:</label>
      <input type="text" name="name" id="name-input">
      <br>
      <label for="climb-name">Location:</label>
      <input type="text" name="location" id="location-input">
      <br>
      <label for="climb-elevation">Elevation:</label>
      <input type="text" name="elevation" id="climb-elevation">
      <br>
      <label for="climb-grade">Grade:</label>
      <input type="text" name="grade" id="climb-grade">
      <br>
      <label for="climb-date">Date Climbed:</label>
      <input type="text" name="date" id="climb-date">
      <button type="submit">Add New Climb</button>
    </form>
  </div>
</main>


    <%- include("../partials/footer") %>