.main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

td {
  padding: 10px;
}

button {
  font-family: black-beard,sans-serif;
  font-size: 16px;
  border: 4px solid #0353a4;
  border-radius: 4%;
  width: 80px;
  height: 25px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 8px;
}

label {
  align-self: center;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
}


#climbDetails > a {
  font-family: black-beard,sans-serif;
  font-size: 16px;
  border-radius: 4%;
  width: 80px;
  height: 25px;
  text-decoration: none;
}

button:hover, #climbDetails > a:hover {
  box-shadow: 0px 1px 16px 1px #9C3848;
  border-radius: 4%;
}

button:active, #climbDetails > a:active {
  border: 4px solid #9C3848;
}

textarea {
  border: 4px solid #9C3848;
  background-color: #002855;
  font-family: warnock-pro,serif;
  color: whitesmoke;
}

textarea:active {
  border: 6px solid #0096c7;
}


#add-review-div > input {
  word-wrap: break-word;
  word-break: break-word;
  height: 20px;
}

#add-mtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

#ice-tools-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-18px);
}

#ice-tools-logo > img {
  height: 26px;
}

#ice-tools-logo > #home-link {
  color: #002855;
}

#climb-details-title, #title-div2, #all-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

#climb-details-title > h1, #title-div2 > h1, #add-climb {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  color: whitesmoke;
  text-shadow: 2px 2px #9C3848;
}

#climb-details-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 28px;
}

#form-div, #all-div2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#add-review-div, #add-climb-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  margin: 10px;
  font-size: 16px;
  font-family: warnock-pro,serif;
}

#add-climb-div {
  font-size: 12px;
  margin: 0;
}

#add-review-btn, #add-climb-btn {
  margin-top:  30px;
  height: 40px;
  width: 40%;
  margin-bottom: 10px;
}

#add-gear-btn {
  margin-top: 50px;
  height: 50px;
  width: 100%;
  margin-bottom: 50px;
}

#review-content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8px;
  margin-bottom: -40px;
  padding: 20px;
  font-family: warnock-pro,serif;
  font-size: 12px;
  border: 3px solid #fb8b24;
  width: 80%;
}

#edit-review-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

#noReviews {
  width: 100%;
}

#delete-btn, #edit-btn {
  width: 100px;
}

#add-climb-btn, #add-review-btn {
  width: 40%;
  height: 40px;
  border: 4px solid #0f4c5c;
  font-size: 12px;
  background-color: #9C3848;
  color: whitesmoke;
}

#delete-btn {
  border: 4px solid #e36414;
}

#edit-btn {
  border: 4px solid #0f4c5c;
}

#climb-details-div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  margin-bottom: 50px;
}

#title-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 10px;
}

#name-input, #location-input, #climb-elevation, #climb-grade, #climb-date {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 25px;
  font-size: 14px;
  padding: 4px;
  font-family: warnock-pro,serif;
  border: 3px solid #fb8b24;
}

#select-climb > select {
  height: 20px;
  font-size: 12px;
  padding: 10px;
  font-family: warnock-pro,serif;
  width: 100%;
  margin-top: 0;
  border: 4px solid #0f4c5c;
  background-color: #9C3848;
  color: whitesmoke;
}

#add-climb {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
}

#add-climb-div > form {
  align-self: start;
}

#add-climb-all > h1 {
  align-self: center;
}

#add-climb-to-dropdown-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}