<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/climbs/index.css" />
<%- include('../partials/nav2') %>

<section>
  <h1>Sharp shiny objects</h1>
  <% if (user) { %>
    <h2>Add Gear & Skills to your Profile!</h2>
    <form action="/profiles/<%= user.profile._id %>/addGearSkills?_method=PATCH" method="POST" name="addGearSkills">
      <label>
        Can you lead on ice?
        <input type="checkbox" name="leadOnIce" autocomplete="off">
      </label>
      <br>
      <label>
        Can you lead mixed climbs?
        <input type="checkbox" name="leadMixed">
      </label>
      <br>
      <label>
        Can you clean on ice?
        <input type="checkbox" name="cleanOnIce">
      </label>
      <br>
      <label>
        Can you clean on rock?
        <input type="checkbox" name="cleanOnRock">
      </label>
      <br>
      <label>
        Do you top-rope on ice?
        <input type="checkbox" name="topRopeOnIce">
      </label>
      <br>
      <label>
        Do you top-rope on rock?
        <input type="checkbox" name="topRopeOnRock">
      </label>
      <br>
      <label>
        Do you own a full ice rack?
        <input type="checkbox" name="fullIceRack">
      </label>
      <br>
      <label>
        Do you own a full rock rack?
        <input type="checkbox" name="fullRockRack">
      </label>
      <br>
      <label>
        Do you own a 60m dry rope?
        <input type="checkbox" name="dryRope60m">
      </label>
      <br>
      <label>
        Do you own a 70m dry rope?
        <input type="checkbox" name="dryRope70m">
      </label>
      <br>
      <label>
        Do you own half ropes?
        <input type="checkbox" name="halfRopes">
      </label>
      <br>
      <label>
        Do you own ice tools?
        <input type="checkbox" name="iceTools">
      </label>
      <br>
      <label>
        Do you own crampons?
        <input type="checkbox" name="crampons">
      </label>
      <br>
      <label>
        Do you own & climb with a helmet?
        <input type="checkbox" name="helmet">
      </label>
      <br>
      <label>
        Do you have your own harness?
        <input type="checkbox" name="harness">
      </label>
      <br>
      <label>
        Do you have extra gear to outfit a beginner?
        <input type="checkbox" name="extraGear">
      </label>
      <br>
      <button type="submit">Add Gear and Skills</button>
    </form>
    <% } %>  
    </ul>
</section>








<%- include("../partials/footer") %>